.badge{
  background: #ffad12;
  border-radius: 50%;
  font-size: 0.7rem;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -18px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}